<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.mapper.CommunityMapper">

	<select id="list" resultType="com.community.entity.Community" parameterType="com.community.entity.Community">
		SELECT
			*
		FROM			
			community 
		WHERE
			is_delete = 0
			AND community_level = #{communityLevel}
		<if test="communityName != null and communityName != '' ">			
			AND community_name like concat('%',#{communityName},'%')
		</if>
		<if test="parentId != null and parentId != '' ">			
			AND parent_id = #{parentId}
		</if>
		ORDER BY community_name * 1		
	</select>

</mapper>
	
	
	
	
	