<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.mapper.community.RoomMapper">

	<select id="roomList" resultType="com.community.entity.community.Room" parameterType="com.community.entity.community.Room">
		SELECT
			id,
			community_id,
			room_name,
			area,
			type,
			user_name 
		FROM
			room 
		WHERE
			is_delete = 0	
		<if test="communityId != null and communityId != '' ">			
			AND community_id = #{communityId}
		</if>
		<if test="roomName != null and roomName != '' ">			
			AND room_name = #{roomName}
		</if>
		<if test="type != null ">			
			AND type = #{type}
		</if>
		ORDER BY room_name * 1
	</select>

</mapper>
	
	
	
	
	