<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.mapper.common.BillMapper">

	<select id="selectBill" resultType="com.community.entity.common.vo.BillVo" parameterType="com.community.entity.common.vo.BillVo">
		SELECT
			a.id,
			a.pay_amount,
			a.bill_type,
			a.remark,
			a.pay_phone,
			a.pay_name,
			c.community_name as unit,
			d.community_name as build_name,
			e.community_name,
			b.room_name,
			b.area,
			b.type 
		FROM
			bill a
			LEFT JOIN room b ON a.item_id = b.id
			LEFT JOIN community c ON b.community_id = c.id
			LEFT JOIN community d ON d.id = c.parent_id
			LEFT JOIN community e ON e.id = d.parent_id 
		WHERE
			a.is_delete = 0
		<if test="payPhone != null and payPhone != '' ">			
			AND a.pay_phone like concat('%',#{payPhone},'%')
		</if>
		<if test="payName != null and payName != '' ">			
			AND a.pay_name like concat('%',#{payName},'%')
		</if>
		<if test="communityId != null and communityId != '' ">			
			AND c.community_id = #{communityId}
		</if>
		<if test="itemId != null and itemId != '' ">			
			AND a.item_id = #{itemId}
		</if>
		<if test="billType != null ">			
			AND a.bill_type = #{billType}
		</if>
		<if test="startDate != null ">			
			AND a.created_time &gt;= #{startDate}
		</if>
		<if test="endDate != null ">			
			AND a.created_time &lt;= #{endDate}
		</if>
		ORDER BY a.created_time desc
	</select>

</mapper>
	
	
	
	
	